@keyframes beat {
  0%,
  100% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(1.1);
  }
}

.osu-button {
  animation: beat 2s infinite;
  display: inline-block;
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  width: 30%;
  justify-content: flex-start;
  align-items: center;
}

.osu-button img {
  max-width: 100%;
  transition: all 0.3s ease-in-out;
  border: none;
  background: none;
  cursor: pointer;
  display: block;
  margin-top: 3vw;
}

.shift-left {
  transform: translateX(-0.5%);
  transition: transform 0.3s ease;
}

.shift-right {
  transform: translateX(0px);
  transition: transform 0.3s ease;
}

.button-container-osu {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 2vw;

}
.options-container {
  display: flex;
  flex-direction: column;
  margin-left: 3vw;
  margin-top: 3vw;
}

.row-osu-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
