.mainpage {
  font-family: sans-serif;
  text-align: center;
  background-color: rgb(255, 255, 255);
  min-width: 400px;
}

header {
  padding: 1px;
}

button {
  padding: 8px 16px;
  background-color: #007bff; /* Bleu Bootstrap */
  color: white;
  border: none;
  border-radius: 5px; /* Bords légèrement arrondis pour le bouton */
  cursor: pointer; /* Indique que l'élément est cliquable */
  transition: background-color 0.3s ease; /* Transition pour l'interaction au survol */
}

button:hover {
  background-color: #0056b3; /* Assombrir le bouton au survol pour un feedback interactif */
}

.beatadvisor {
  padding: 1px;
  background-color: rgb(133, 147, 207);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

.logo {
  width: 15%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 42.5%;
}

.logo img {
  max-width: 100%;
  display: block;
}

.navigation {
  background-color: #a5a5ee86;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 50px;
}

.navigation .nav-link {
  color: #ffffff;
  margin: 0 1rem;
  font-weight: bold;
}

.navigation .nav-link:hover {
  color: #fff;
  text-decoration: none;
}

.navigation .active {
  color: #fff;
}

a {
  margin: 10px;
  font-weight: bold;
  text-decoration: none;
  color: rgba(83, 90, 187, 0.726);
}

a:hover {
  text-decoration: underline;
}

.prenom-nom {
  font-size: 25px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.tag {
  font-size: 16px;
  color: gray;
  margin-left: 10px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  width: 80%;
  max-width: 500px;
  position: relative;
}

.modal-music {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content-music {
  color: black;
  background: white;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}
.list-container {
  max-width: 100%;
  margin: 20px auto;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  border-radius: 8px;
  padding: 20px;
}

.list-container ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.list-container li {
  padding: 10px;
  border-bottom: 1px solid #dee2e6;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.list-container li:last-child {
  border-bottom: none;
}

.list-container h3 {
  margin: 0;
  color: #343a40;
  font-size: 1.25em;
  cursor: pointer;
}
